In [ ]:
#Pandas library :- Used to perform different operations on the csv datasets

In [ ]:
#What is  data frames
#What is data series
#what are different operaions

In [2]:
#import pandas
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Column1','Column2','Column3','Column4'])

In [5]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [6]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [ ]:
#csv--> Comma Separated Values

In [7]:
df.to_csv('Test1.csv')        #This creates the csv file version for df and named as --> "Test1.csv"

In [ ]:
#Accessing the elements from  a dataframe
# 1.  .loc --> Label based , which means we have to specify the index such as in the above ex, we indexed as -"Row1....Row5"
# 2.  .iloc --> Index integer based , which means we don't have to specify the index .

In [8]:
type(df.loc['Row1'])     #series type df

pandas.core.series.Series

In [9]:
df.iloc[:,:]         # Printed the whole csv table

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [10]:
df.iloc[0:3,0:2]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9

In [11]:
type(df.iloc[0:3,0:2])       #DataFrame type

pandas.core.frame.DataFrame

In [15]:
df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [19]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [23]:
df.isnull().sum()      #Used to check the columns of the dataset to be null or filled

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [24]:
df['Column1'].value_counts()    #used to check the number of unique elements present in the specified column

Column1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [25]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [26]:
df['Column3']           #Direct column calling

Row1     2
Row2     6
Row3    10
Row4    14
Row5    18
Name: Column3, dtype: int32

In [27]:
type(df['Column3'])

pandas.core.series.Series

In [28]:
df[['Column1','Column2']]        #Multiple column calling

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9
Row4       12       13
Row5       16       17